@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --accent-color-primary: #7fc8f8;
    --accent-color-side: #ffe45e;
    --main-font: "Outfit", Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
        margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: var(--main-font);
    font-weight: 400;
}
#root, #__next {
    isolation: isolate;
}

h1 {
    font-size: 300%;
}

button {
    cursor:pointer;
    font-family: var(--main-font);
    font-weight: 200;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.gameGrid {
    display: grid;
    grid-gap: 8px;
    max-width: 100vw;
    min-height: auto;
}

.gameGrid button {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    font-size: 10em;
    min-height: 20vh;
    min-width: 20vh;

    border: 0;
    border-radius: 20%;
}

#winModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 10;
    min-width: min(50%, 600px);
    min-height: min(20%, 150px);
    background-color: white;
    transition: 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 32px;
    border-radius: 1rem;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#winModal.active {
    transform: translate(-50%,-50%) scale(1);
}

#winModal button {
    margin-top: 16px;
    border: 0;
    border-radius: 1.5rem;
    min-width: 50%;
    padding: 8px;
    background: var(--accent-color-side);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 100ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
}

.exitBtn {
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    background: none;
}

.exitBtn:hover {
    color: rgb(47, 39, 39);
}

#currentTurn {
    margin: 16px;
    padding: 32px;
    font-size: 2rem;
    border-radius: 1.5rem;
    background-color: var(--accent-color-primary);
    overflow: hidden;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: var(--main-font);
    border: 0;
    border-radius: 1rem;
    background-color: var(--accent-color-side);
    padding: 4px;
    margin: 4px;
}

.nameChange {
    margin-bottom: 32px;
}