*, *::before, *::after {
    box-sizing: border-box;
}
* {
        margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 64px;
    height: 100vh;
}

.gameGrid {
    display: grid;
    
    border: 4px;
    border-color: rgb(0, 0, 0);
}



.gameGrid button {
    min-height: 16px;
    min-width: 16px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 0;
}